include header.pug

div(class="container-fluid flex-grow")
	div(class='blog_top')
	div(class="blogposts justify-content-center col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1")
		h3 Latest News
		if admin
			h4(class="blog-caption")
				a(href="/blog/new" class="btn btn-primary" style="color: white;") Create new post
		if data.length>0
			div(class="mosaic")
				each item in data
					div(class="row blogpost")
						div(class="col-12")
							div(class="card h-100 card-body")
								a(class="blog-link blog-caption card-title", href="/blog/post/"+item._id) #{item.caption}
								div(class="blog-preview1")
									div(class="card-text")!= item.preview
									a(class="blog-link card-text", href="/blog/post/"+item._id) Continue reading ...

include footer.pug