include header.pug

div(class="container-fluid flex-grow")
	div(class='blog_top')

	if data
		div(class="blogposts justify-content-center col-md-10 col-sm-10")
			a(href="/blog" class="btn btn-primary" style="color: white;") Go back
			div(class="row mb-4")
				div(class="blog-preview")
					h3(style="word-wrap: break-word")= data.caption
					div(class="ml-4")!= data.rendered
		
include footer.pug