include header.pug

div(class="container-fluid flex-grow")
	h1
		a(href="https://www.facebook.com/wtmlviv/") Facebook
	h1
		a(href="https://www.instagram.com/wtmlviv") Instagram
	h1
		a(href="mailto:womentechmakerslviv@gmail.com") E-mail

include footer.pug