include header.pug

div(class="container-fluid flex-grow")

	div(class='event_top')

	if data
		div(class="blogposts justify-content-center col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1")
			a(href="/events" class="btn btn-primary" style="color: white;") Go back
			h3= data.caption
			div(class="row")
				div(class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5")
					b Held on: #{data.scheduled.toLocaleDateString("en-US", { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', hour12: false })}
					br
					b Attendance fee: #{data.price===0 ? "Free" : data.price.toFixed(2)+" UAH"} 
					br
					b About:
					span!= data.rendered
					br
				div(class="col-0 col-sm-0 col-md-2 col-lg-2 col-xl-2")
				div(class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5")
					div(class='event_preview')
						img(src=data.preview)
			h4 Location of the event:
			div(class="row")
				div(class="ev-location mb-4")
					a(class="btn btn-block btn-primary" href="https://www.google.com/maps/search/?api=1&query="+data.location target="_blank") Open in Google Maps

include footer.pug