include header.pug

div(class="container-fluid flex-grow")
	div(class='event_top')

	div(class="blogposts justify-content-center col-md-10 col-sm-10")
		h3 Our events
		if admin
			h4(class="blog-caption")
				a(href="/events/new" class="btn btn-primary" style="color: white;") Create new event
		if data.length>0
			div(class="mosaic")
				each item in data
					div(class="row eventcard")
						div(class="col-md-6")
								h4(class="blog-caption card-title")
									a(class="blog-link", href="/events/e/"+item._id) #{item.caption}
								div(class="blog-preview1")
									b(class="card-text") Held on: #{item.scheduled.toLocaleDateString("en-US", { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', hour12: false })}
									br
									b(class="card-text") Attendance fee: #{item.price===0 ? "Free" : item.price.toFixed(2)+" UAH"} 
									br
									p(class="card-text" style="word-wrap: break-word").
										#[strong About:] #{item.info.substring(0, 120)} #{item.info.length>120 ? "..." : ""}
									br
									a(class="card-text blog-link" href="/events/e/"+item._id) View more info
						div(class="col-md-6")
							div(class="card-event-img-bottom event_preview" style="background-image: url("+item.preview+"); background-size: contain")

include footer.pug