footer
	div(class="container-fluid")
		div(class="row footer navbar-fixed-bottom")
			div(class="col-12 col-sm-12 col-md-6 col-md-6 mt-3")
				p About
				a(href="https://www.womentechmakers.com/") Women Techmakers
				br
				a(href="/#about") About us
				br
				a(href="/#team") Our team
				br
				a(href="/#sponsors") Sponsors
				br
				a(href="/join") Join us
			div(class="col-12 col-sm-12 col-md-6 col-md-6 mt-3")
				p Contact us
				a(href="https://www.facebook.com/wtmlviv/")
					i(class="fab fa-facebook-square")
				a(href="https://www.instagram.com/wtmlviv")
					i( class="fab fa-instagram")
				a(href="https://twitter.com/wtmlviv" )
					i(class="fab fa-twitter")
				a(href="mailto:womentechmakerslviv@gmail.com")
					<i class="far fa-envelope"></i>
				br
			div(class="col-12 footerlogo")
				picture
					source(srcset="/img/logo2.webp" type="image/webp")
					source(srcset="/img/logo2.png" type="image/png")
					img(src="/img/logo2.png" type="image/png")
				span WTM Lviv &copy; #{(new Date()).getFullYear()}
	