doctype html
html
	head
		script(async src="https://www.googletagmanager.com/gtag/js?id=UA-125271618-1")
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-125271618-1');
		
		title Women Techmakers Lviv
		script
			include jquery.min.js
			include bootstrap.min.js
		style
			include bootstrap.min.css
			include style.min.css
		script(defer src="https://use.fontawesome.com/releases/v5.2.0/js/all.js" integrity="sha384-4oV5EgaV02iISL2ban6c/RmotsABqE4yZxZLcYMAdG7FAPsyHYAPpywE9PJo+Khy" crossorigin="anonymous")
		meta(name="viewport",content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
		meta(name="description" content="At Women Techmakers Lviv we are encouraging diversity in tech in Lviv since 2017. Get visibility, networking and resources to make the tech community of Lviv diverse and inclusive!")
		if main
			meta(name="keywords" content="wtm, diversityintech, womenintech, womentechmakers, google, programming, android, golang, javascript, chrome, developers, lviv, womentechmakerslviv, WomenTechmakers Lviv, Women Techmakers Lviv")
		meta(name="google-site-verification" content="")
		link(rel="icon" type="image/png" href="/img/favicon-196x196.png")
	body(class="d-flex flex-column")
		nav(class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark")
			a(class="navbar-brand" href="/")
				picture
					source(srcset="/img/menu_logo.webp" height="40" type="image/webp")
					source(srcset="/img/menu_logo.png" height="40" type="image/png")
					img(src="/img/menu_logo.png" height="40" type="image/png")
			button(class="navbar-toggler", type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
				span(class="navbar-toggler-icon")
			div(class="collapse navbar-collapse", id="navbarNav")
				ul(class="navbar-nav ml-auto")
					li(class="nav-item")
						a(class="nav-link", href="/") Home
					li(class="nav-item")
						a(class="nav-link", href="/blog") Blog
					li(class="nav-item")
						a(class="nav-link", href="/events") Events
					li(class="nav-item")
						a(class="nav-link", href="/join") Join Us
					if !logged
						li(class="nav-item")
							a(class="nav-link", href="/auth") Login
					else
						li(class="nav-item")
							a(class="nav-link", href="/auth/logout") Log out
							
			noscript
				ul(class="navbar-nav ml-auto")
					li(class="nav-item")
						a(class="nav-link", href="/") Home
					li(class="nav-item")
						a(class="nav-link", href="/blog") Blog
					li(class="nav-item")
						a(class="nav-link", href="/events") Events
					li(class="nav-item")
						a(class="nav-link", href="/join") Join Us
					if !logged
						li(class="nav-item")
							a(class="nav-link", href="/auth") Login
					else
						li(class="nav-item")
							a(class="nav-link", href="/auth/logout") Log out
		if info && info.length>0
			div(class="alert alert-primary text-center" role="alert")
				span #{info}