include header.pug

div(class="container-fluid flex-grow")
	div(class="row justify-content-center mt-4")
		h2 Submit your application

	div(class="row justify-content-center")
		form(method="post" class="col-8" action="/join")
			div(class="form-group")
				label(for="name") Your full name:
				input(type='text' id="name" class="form-control" placeholder="Name" required name="name")
			div(class="form-group")
				label(for="email") Mail:
				input(type='email' id="email" class="form-control" placeholder="Email" required name="email")
			div(class="form-group")
				label(for="comment") Tell us more about yourself!
				textarea(type='text' id="comment" class="form-control" rows="3" placeholder="Comment" required name="comment")
			div(class="form-group")
				button(type=submit class="btn btn-primary") Submit application

	if data && data.length>0
		div(class="row justify-content-center mt-4")
			h2 Submissions
		div(class="row justify-content-center table-responsive-sm table-responsive-md")
			table(class="table table-striped table-bordered col-8")
				thead
					tr
						th Email
						th Name
						th Comment
				each item in data
					tr
						td= item.email
						td= item.name
						td= item.comment

include footer.pug