include header.pug

div(class="container-fluid flex-grow")
	div(class="row justify-content-center mt-4")
		h2 Login

	div(class="row justify-content-center")
		form(method="post" class="col-12 col-sm-12 col-md-6" action="/auth")
			div(class="form-group")
				label(for="email") Email:
				input(type='email' id="email" class="form-control" placeholder="Email" required name="email")
			div(class="form-group")
				label(for="password") Password:
				input(type='password' id="password" class="form-control" placeholder="Password" required name="password")
			div(class="form-group")
				button(type=submit class="btn btn-block btn-primary") Log In
				
	div(class="row justify-content-center mt-4")
		h4 ---- or register ----

	div(class="row justify-content-center")
		form(method="post" class="col-12 col-sm-12 col-md-6" action="/auth/register")
			div(class="form-group")
				label(for="username_r") Username:
				input(type='text' id="username_r" class="form-control" placeholder="username" required name="username")
			div(class="form-group")
				label(for="email_r") Email:
				input(type='email' id="email_r" class="form-control" placeholder="Email" required name="email")
			div(class="form-group")
				label(for="password_r") Password:
				input(type='password' id="password_r" class="form-control" placeholder="Password" required name="password")
			div(class="form-group")
				label(for="password_rr") Repeat password:
				input(type='password' id="password_rr" class="form-control" placeholder="Password" required name="passwordConf")
			div(class="form-group")
				button(type=submit class="btn btn-block btn-primary") Register

include footer.pug