include header.pug

div(class="container-fluid flex-grow")
	picture(class="top_mask")
		source(class='main_top' srcset="/img/top.webp" type="image/webp")
		source(class='main_top' srcset="/img/top.png" type="image/png")
		img(class='main_top', src='/img/top.png' type="image/png")
	div(id='about')
		div(class="mosaic")
			div(class="row")
				div(class="col-12")
					div(class="card-block")
						h3(class="card-title") About
						p(class="card-text") Women Techmakers Lviv is  a non-profit organization which supports and empowers women in technology. WTM Lviv directory has been reorganized in November 2017. We organize different events, meetups, workshops, study jams to involve more women in tech and show, how the world of technology is really big and interesting!
						h4(class="card-text") Google's Women Techmakers program provides:
						ul(class="card-text")
							li visibility
							li community
							li resources
			div(class="row")
				div(class="col-md-6")
					div(class="card-block")
						h4(class="card-title") Visibility
						p(class="card-text") Showcase the work and passions of women in the technology industry by providing a platform to celebrate their talents and spotlight role models.
				div(class="col-md-6")
					div(class="card-img-bottom" style="background-image: url(img/visibility.jpg)")
			div(class="row")
				div(class="col-md-6")
					div(class="card-block")
						h4(class="card-title") Community
						p(class="card-text") Create a supportive global community in which women can connect, be inspired, and encourage each other to realize their passions.
				div(class="col-md-6")
					div(class="card-img-bottom" style="background-image: url(img/community.jpg)")
			div(class="row")
				div(class="col-md-6")
					div(class="card-block")
						h4(class="card-title") Resources
						p(class="card-text") Provide opportunities to develop industry needed skillsets, aid career development, and support women to become industry leaders in all phases of their careers.
				div(class="col-md-6")
					div(class="card-img-bottom" style="background-image: url(img/resources.jpg)")
	div(id='team')
		h3 Our Team
		figure(class="col-12 col-sm-5 col-md-5 col-lg-3 col-xl-2")
			div(class='mask')
				picture
					source(srcset="/img/team/MV.webp" type="image/webp")
					source(srcset="/img/team/MV.png" type="image/png")
					img(src="/img/team/MV.png" type="image/png")
			figcaption Mayya #[br] Vu
				div(class="sm" style="font-size: 0.5rem")
					a(href="https://www.facebook.com/vutomaya")
						i(class="fab fa-facebook-square")
					a(href="https://twitter.com/vu_mayya" )
						i(class="fab fa-twitter")
					a(href="mailto:vutomaya@gmail.com")
						<i class="far fa-envelope"></i>
		figure(class="col-12 col-sm-5 col-md-5 col-lg-3 col-xl-2")
			div(class='mask')
				picture
					source(srcset="/img/team/MB.webp" type="image/webp")
					source(srcset="/img/team/MB.png" type="image/png")
					img(src="/img/team/MB.png" type="image/png")
			figcaption Marta #[br] Bobyk
				div(class="sm" style="font-size: 0.5rem")
					a(href="https://www.facebook.com/profile.php?id=100011420559118")
						i(class="fab fa-facebook-square")
					a(href="mailto:martusyk99@gmail.com")
						<i class="far fa-envelope"></i>
		figure(class="col-12 col-sm-5 col-md-5 col-lg-3 col-xl-2")
			div(class='mask')
				picture
					source(srcset="/img/team/DD.webp" type="image/webp")
					source(srcset="/img/team/DD.png" type="image/png")
					img(src="/img/team/DD.png" type="image/png")
			figcaption Daryna #[br] Dzhala
				div(class="sm" style="font-size: 0.5rem")
					a(href="https://www.facebook.com/dara.dzhala")
						i(class="fab fa-facebook-square")
					a(href="https://twitter.com/_komashka_" )
						i(class="fab fa-twitter")
					a(href="mailto:darusiker1@gmail.com")
						<i class="far fa-envelope"></i>
		figure(class="col-12 col-sm-5 col-md-5 col-lg-3 col-xl-2")
			div(class='mask')
				picture
					source(srcset="/img/team/YD.webp" type="image/webp")
					source(srcset="/img/team/YD.png" type="image/png")
					img(src="/img/team/YD.png" type="image/png")
			figcaption Yana #[br] Didun
				div(class="sm" style="font-size: 0.5rem")
					a(href="https://www.facebook.com/yana.didun")
						i(class="fab fa-facebook-square")
					a(href="mailto:womentechmakerslviv@gmail.com")
						<i class="far fa-envelope"></i>
		figure(class="col-12 col-sm-5 col-md-5 col-lg-3 col-xl-2")
			div(class='mask')
				picture
					source(srcset="/img/team/IZ.webp" type="image/webp")
					source(srcset="/img/team/IZ.png" type="image/png")
					img(src="/img/team/IZ.png" type="image/png")
			figcaption Ira #[br] Zakharchenko
				div(class="sm" style="font-size: 0.5rem")
					a(href="https://www.facebook.com/ira.zakharchenko.1")
						i(class="fab fa-facebook-square")
					a(href="mailto:ira99.zakharchenko@gmail.com")
						<i class="far fa-envelope"></i>
	div(id='sponsors')
		h3 Sponsors
		figure
			div(class='sponsors')
				a(href="https://google.com/")
					picture
						source(srcset="/img/sponsors/google.webp" type="image/webp")
						source(srcset="/img/sponsors/google.png" type="image/png")
						img(src="/img/sponsors/google.png" type="image/png")
		br
		figure
			div(class='sponsors')
				a(href="https://www.dataart.com/")
					picture
						source(srcset="/img/sponsors/DA.webp" type="image/webp")
						source(srcset="/img/sponsors/DA.png" type="image/png")
						img(src="/img/sponsors/DA.png" type="image/png")
			div(class='sponsors')
				a(href="http://www.clew.shop/")
					picture
						source(srcset="/img/sponsors/clew.webp" type="image/webp")
						source(srcset="/img/sponsors/clew.png" type="image/png")
						img(src="/img/sponsors/clew.png" type="image/png")
			div(class='sponsors')
				a(href="http://startupdepot.lviv.ua/")
					picture
						source(srcset="/img/sponsors/depot.webp" type="image/webp")
						source(srcset="/img/sponsors/depot.png" type="image/png")
						img(src="/img/sponsors/depot.png" type="image/png")
			div(class='sponsors')
				a(href="https://eleks.com/")
					picture
						source(srcset="/img/sponsors/ELEKS.webp" type="image/webp")
						source(srcset="/img/sponsors/ELEKS.png" type="image/png")
						img(src="/img/sponsors/ELEKS.png" type="image/png")
			div(class='sponsors')
				a(href="http://galicia.com.ua/")
					picture
						source(srcset="/img/sponsors/galicia.webp" type="image/webp")
						source(srcset="/img/sponsors/galicia.png" type="image/png")
						img(src="/img/sponsors/galicia.png" type="image/png")
		figure
			div(class='sponsors')
				a(href="https://www.intellias.ua/")
					picture
						source(srcset="/img/sponsors/intellias.webp" type="image/webp")
						source(srcset="/img/sponsors/intellias.png" type="image/png")
						img(src="/img/sponsors/intellias.png" type="image/png")
			div(class='sponsors')
				a(href="https://www.lohika.com/")
					picture
						source(srcset="/img/sponsors/lohika.webp" type="image/webp")
						source(srcset="/img/sponsors/lohika.png" type="image/png")
						img(src="/img/sponsors/lohika.png" type="image/png")
			div(class='sponsors')
				a(href="https://discoverymap.com.ua/")
					picture
						source(srcset="/img/sponsors/map.webp" type="image/webp")
						source(srcset="/img/sponsors/map.png" type="image/png")
						img(src="/img/sponsors/map.png" type="image/png")
			div(class='sponsors')
				a(href="https://pivorak.com/")
					picture
						source(srcset="/img/sponsors/pivorak.webp" type="image/webp")
						source(srcset="/img/sponsors/pivorak.png" type="image/png")
						img(src="/img/sponsors/pivorak.png" type="image/png")
			div(class='sponsors')
				a(href="https://planetakino.ua/")
					picture
						source(srcset="/img/sponsors/planetakino.webp" type="image/webp")
						source(srcset="/img/sponsors/planetakino.png" type="image/png")
						img(src="/img/sponsors/planetakino.png" type="image/png")
		figure
			div(class='sponsors')
				a(href="https://sigma.software/")
					picture
						source(srcset="/img/sponsors/sigma_software.webp" type="image/webp")
						source(srcset="/img/sponsors/sigma_software.png" type="image/png")
						img(src="/img/sponsors/sigma_software.png" type="image/png")
			div(class='sponsors')
				a(href="https://www.softserveinc.com/")
					picture
						source(srcset="/img/sponsors/SoftServe.webp" type="image/webp")
						source(srcset="/img/sponsors/SoftServe.png" type="image/png")
						img(src="/img/sponsors/SoftServe.png" type="image/png")
			div(class='sponsors')
				a(href="https://www.symphony-solutions.eu/")
					picture
						source(srcset="/img/sponsors/Symphony_Solutions.webp" type="image/webp")
						source(srcset="/img/sponsors/Symphony_Solutions.png" type="image/png")
						img(src="/img/sponsors/Symphony_Solutions.png" type="image/png")
			div(class='sponsors')
				a(href="http://teamvoy.com/")
					picture
						source(srcset="/img/sponsors/teamvoy.webp" type="image/webp")
						source(srcset="/img/sponsors/teamvoy.png" type="image/png")
						img(src="/img/sponsors/teamvoy.png" type="image/png")
			div(class='sponsors')
				a(href="https://www.verygoodsecurity.com/")
					picture
						source(srcset="/img/sponsors/verygoodsecurity.webp" type="image/webp")
						source(srcset="/img/sponsors/verygoodsecurity.png" type="image/png")
						img(src="/img/sponsors/verygoodsecurity.png" type="image/png")
	div(id='faq')
		h3 FAQ
		dl
			dt What is Women Techmakers?
			dd Women Techmakers is Google's global program and brand for women in technology. Kicked off in 2012 by, then VP of Google[x], Megan Smith, Women Techmakers is now led by Women in Technology Advocate Natalie Villalobos and a global team of Googlers who are passionate about empowering women in technology through increased visibility, community, and resources.
			dt Can only women apply?
			dd We strive to have a broad representation of attendees in tech including developers, designers, technology entrepreneurs, and many others across all phases of their careers, backgrounds, genders, and walks of life. We welcome all to apply!
			dt What is the age range of WTM Lviv events?
			dd Attendance is limited to 16+
			dt Who should I reach out if I have questions?
			dd For questions reach out to Facebook page or womentechmakerslviv@gmail.com
	
include footer.pug