include header.pug

div(class="container-fluid flex-grow")

	div(class="row justify-content-center mt-4")
		h2 Create new blog post

	div(class="row justify-content-center")
		form(method="post" class="col-8" action="/events/new")
			div(class="form-group")
				label(for="caption") Event caption:
				input(type='text' id="caption" class="form-control" placeholder="Caption" required name="caption")
			div(class="form-group")
				label(for="image") Image URL:
				input(type='text' id="image" class="form-control" placeholder="image url" required name="preview")
			div(class="form-group")
				label(for="info") Event info:
				textarea(type='text' id="info" class="form-control" rows="3" placeholder="Event info..." required name="info")
			div(class="form-group")
				input(type='text' id="loc" class="form-control" placeholder="Location" name="location")
			div(class="form-group")
				label(for="ev_date") Event date:
				input(type='datetime-local' id="ev_date" class="form-control" placeholder="Event date" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}" required name="scheduled")
			div(class="form-group")
				label(for="ev_price") Attendance fee:
				input(type='text' id="ev_price" placeholder="Price" class="form-control" required name="price")
			div(class="form-group")
				h4 Location
				#map
				noscript
					label(for="loc2") Location coordinates:
					input(type='text' id="loc2" class="form-control" placeholder="Location coordinates" name="location2")
			div(class="form-group")
				button(type=submit class="btn btn-primary") Create post

script.
	
	function initMap() {
		
		var myLatlng = {lat: 49.83938162643627, lng: 24.029435340742566};

		var map = new google.maps.Map(document.getElementById('map'), {
			zoom: 14,
			center: myLatlng
		});
		
		var marker = new google.maps.Marker({
				map: map
		});
		
		map.addListener('click', function(e) {
			document.getElementById('loc').value = e.latLng.lat() + "," + e.latLng.lng();
			placeMarker(e.latLng, map);
		});

		function placeMarker(position, map) {
			marker.setPosition(position);
		}
	}

script(async defer src=`https://maps.googleapis.com/maps/api/js?key=AIzaSyBvp0ElPd8rCQS5zlO6wxVtqMKfqtLnYFM&callback=initMap`)

include footer.pug