include header.pug

div(class="container-fluid flex-grow")
	div(class="row justify-content-center mt-4")
		h2 Create new blog post

	div(class="row justify-content-center")
		form(method="post" class="col-8" action="/blog/new")
			div(class="form-group")
				label(for="caption") Post caption:
				input(type='text' id="caption" class="form-control" placeholder="Caption" required name="caption")
			div(class="form-group")
				label(for="caption") Post image:
				input(type='text' id="imgurl" class="form-control" placeholder="Image URL" required name="imgurl")
			div(class="form-group")
				label(for="post") Post body:
				textarea(type='text' id="post" class="form-control" rows="3" placeholder="Post body..." required name="body")
			div(class="form-group")
				button(type=submit class="btn btn-primary") Create post

include footer.pug