.mask {
	display: inline-block;
	width: 100%;
	min-width: 128px;
	max-width: 248px;
	object-fit: scale-down;
	border-radius: 50%;
	overflow: hidden;
}

html {
	height: 100%;
	overflow-x: hidden;
	box-sizing: border-box;
}

.container{
	padding-right: 0px;
    padding-left: 0px;
	max-width: 100% !important;
}

.sponsors {
	display: inline-block;
	height: 100px;
	overflow: hidden;
}

.blog-preview img {
	margin: 3rem 0 3rem 0;
	max-height: 20rem;
	display: block;
}

.eventcard{
	margin: 1rem;
	padding: 1rem;
	outline: 1px solid lightgray;
	background-color: white !important;
}

.row{
	margin-left: 0;
	margin-right: 0;
}

body{
	margin: 0;
	overflow-x: hidden;
	min-height: 100vh;
	font-family: 'Roboto', sans-serif;
}

.flex-grow {
   flex: 1;
}

.container-fluid{
	padding: 0;
}

.top_mask{
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	max-height: 800px;
	object-fit: scale-down;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.card-img-bottom{
  color: #fff;
  width: 100%;
  height: 100%;
  min-height: 20rem;
  background: url(img/resources.webp) center no-repeat;
  background-size: cover;
}

.card-event-img-bottom {
color: #fff;
  width: 100%;
  height: 100%;
  min-height: 10rem;
  max-height: 14.5rem;
  background: url(img/resources.webp) center no-repeat;
  background-size: cover;
}

.main_top {
	display: block;
    margin: auto;
	width: 100%;
	height: 100%;
}

#team {
    text-align: center;
	background-color: #00bea4;
	color: white;
	font-size: 20px;
	padding-top: 64px;
}

#team h3{
	font-size: 40px;
	font-weight: 700;
}

.footerlogo{
	border-top: 1px solid gray;
	margin-top: 2rem;
	padding-top: 1rem;
	text-align: left;
}


.fa-facebook-square {
	font-size: 3em;
	color: white;
	margin: 0.5rem;
}

.fa-instagram {
	font-size: 3em;
	color: white;
	margin: 0.5rem;
}

.fa-twitter {
	font-size: 3em;
	color: white;
	margin: 0.5rem;
}

.fa-envelope {
	font-size: 3em;
	color: white;
	margin: 0.5rem;
}

.sm a{
	margin: 0;
}


#sponsors {
    text-align: center;
	background-color: white;
	color: black;
	font-size: 20px;
	padding-top: 64px;
}

.blogposts{
	margin: auto;
	margin-top: 3rem;
}

.blogpost{
	margin-bottom: 2rem;
}

.blogpost .card-block{
	border: 1px solid black;
}

.blogposts h3{
	font-size: 65px;
}

.blogposts a{
	margin: 0;
}

.ev-location{
	margin: auto;
}

.footer {
	border-top: 1px solid #e7e7e7;
	margin: 0;
	font-size: 13px;
	color: white;
	padding: 40px 52px 13px;
	background-color: #343a40;
	text-align: center;
}

.footer img{
	height: 48px;
	padding-right: 20px;
}

.footer p{
	font-size: 20px;
}

.footer a, .footer a:visited {
	margin: 0;
	color: gray;
}

.ev-location a, .ev-location a:visited{
	color: white;
}

.blog_top {
	background-image: url("/img/blog.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
}

.event_top {
	background-image: url("/img/events.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
}

.form-group input {
	margin: 0;
}

form{
	margin: 2rem;
}

label{
	font-weight: bold;
}

.blog-preview{
	width:70%;
	margin-left: auto;
	margin-right: auto;
}

.blog-preview1{
	width:70%;
	margin-left: 3rem;
}

.card-block{
	margin: 5%;
}

.mosaic > div{
	border: 0px solid white;
	background-color: white;
	color: #272727;
	margin-bottom: 20px;
}

.mosaic > div > div {
	margin: 0;
	padding: 0;
}

a.blog-link, a.blog-link.active, a.blog-link:visited {
	color: #03a9f4;
	margin-left: 0;
	text-decoration: none;
}

a.blog-link:hover{
    color: #60ccfd;
	margin-left: 0;
	text-decoration: none;
}

.blog-caption{
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 30.625px;
}

#sponsors h3{
	font-size: 40px;
	font-weight: 700;
}

#sponsors a{
	margin: 0;
}

#faq {
	padding: 2rem 10% 2rem 10%;
	background-color: #4FC3F7;
	color: white;
	font-size: 18px;
}

#faq h3{
	text-align: center;
	font-size: 40px;
	font-weight: 700;
}

dd {
	padding-left: 5%;
}

.navbar-brand, .nav-link{
	margin: 0;
}

#about {
	padding: 2rem 10% 2rem 10%;
	background-color: #4688F2;
	color: white;
	font-size: 18px;
}

#about h3{
	text-align: center;
	font-size: 40px;
	font-weight: 700;
}

#map {
	width: 100%;
	height: 500px;
}

#loc {
	display: none
}

#team figure {
    display: inline-table;
	margin: 1vw;
}

#sponsors figure {
    display: inline-table;
	margin: 1vw;
	width: 25%;
}

input{
    display: block;
    font-size: 11px;
    padding: 4px 2px;
    border: solid 1px #aacfe4;
    width: 150px;
    margin: 2px 0 20px 10px;
}

table{
	margin: 2rem;
}

a{
	color: blue;
	text-decoration: none;
	margin: 20px;
}

a:visited{
	color: blue;
}

img {
	max-width: 100%;
}
.sponsors{
	margin: 1.25rem 0.5rem 1.25rem 0.5rem;
}

.sponsors > a img{
	display: block;
    margin-left: auto;
    margin-right: auto;
	object-fit: scale-down;
	width: 100%;
    height:100%;
}